body{
    background-color: rgb(236, 228, 245);
    scroll-behavior: smooth;

}
img{
    height: 150px;
}
.home{
   
    background-image: url(../fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%; 
    
    
}
.home h1{
color: rgb(75, 170, 170);
text-align: center;
font-family: cursive;
font-size: 40px;
height: 50%;
}

nav{
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    width: 90%;

}

.home nav a{
    text-decoration: none;
    font-family: cursive;
    font-size: 18px;
    color: rgb(56, 8, 100);
    padding: 5px;
    height: 10px;
    
}

a:hover{
    color: rgb(2, 54, 54);
    background-color: rgb(253, 171, 226);
      
}
.sobremim{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
h2::before{
content: url(../hello\ kitty.png);
height: 10vh;
border-radius: 10%;

}
.letra{
    display: block;
    color: rgb(75, 170, 170);
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}
       
p{
font-size: 30px;

}   
.habilidades{
    background-image: url(../fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%; 
    
}

.habilidades h3{
    font-size: 35px;
    font-family: cursive;
    color: rgb(75, 170, 170);
}
.habilidades ul li{
    font-size: 30px;
    color: rgb(10, 1, 5);
}
.cursos{
    text-align: center;
    background-color: rgb(204, 255, 255);
    border-radius: 10%;
    margin: 1.5%;
    
}
.cursos h3{
font-size: 35px;
font-family: cursive;
color: rgb(56, 8, 100) ;
}

.cursos h4{
    font-size: 30px;
    font-style: inherit;
}
.projetos{
    align-items: center;
    justify-items: center;
    text-align: center;  
}

.projetos h3{
    font-size: 35px;
    font-family: cursive;
    color: rgb(56, 8, 100);
}
.projetos p a{
    color: blueviolet;
    text-decoration: none;
}
.contato{
    background-color: rgb(204, 255, 255);
    border-radius: 10%;
    height: 350px;
    width: 100%;
    text-align: center;
    
}
.contato h3{
    font-size: 35px;
    font-family: cursive;
    color: rgb(56, 8, 100);
}

.contato form label{
    font-size: 30px;
    font-family: cursive;

}

.contato form{
    
    box-shadow: 5px;
    text-align: left;

}
.contato form input:focus{
   background-color: rgb(231, 210, 252);
}


